# Pandas Puzzles
### Inspired by [ajcr/100-pandas-puzzles] (https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb)
---

1. Import pandas under the alias pd

In [1]:
import pandas as pd

## Dataframe basics
#### Selecting, Sorting, adding and aggregating data in dataframes...

Consider the following Python dictionary data and Python list labels:

In [2]:
import numpy as np 

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

2. Create a DataFrame df from this dictionary data which has the index labels

In [3]:
df = pd.DataFrame(data, index=labels)

3. Display a summary of the basic information about this DataFrame and its data (hint: there is a single method that can be called on the DataFrame).

In [4]:
df.dtypes         # data types
df.index          # index
df.describe()     # short summary

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

4. Return the first 3 rows of the DataFrame df.

In [5]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

5. Select just the 'animal' and 'age' columns from the DataFrame df.

In [6]:
df.iloc[:, 0:2]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

6. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [7]:
df.iloc[[3, 4, 8], 0:2]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

7. Select only the rows where the number of visits is greater than 3.

In [8]:
df[df['visits'] > 2]

  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no

8. Select the rows where the age is missing, i.e. it is NaN.

In [9]:
df[pd.isna(df['age'])]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

9. Select the rows where the animal is a cat and the age is less than 3.

In [10]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

10. Select the rows the age is between 2 and 4 (inclusive).

In [11]:
df[(df['age'] >= 2) | (df['age'] <= 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
i    dog  7.0       2       no
j    dog  3.0       1       no

11. Change the age in row 'f' to 1.5.

In [12]:
df.loc['f','age'] = 1.5     # update value
df.loc['f', 'age']          # print

1.5

12. Calculate the sum of all visits in df (i.e. find the total number of visits).

In [13]:
df.loc[:, 'visits'].sum()

19

13. Calculate the mean age for each different animal in df.

In [14]:
df.loc[:, ['animal', 'age']].groupby('animal').mean()

             age
animal
cat     2.333333
dog     5.000000
snake   2.500000

14. Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.

In [15]:
df.loc['k'] = ['wolf', 5, 4, 'yes']             # appending row to existing df
df = df.drop('k')                               # deleting row 'k' from existing df
df                                              # show df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

15. Count the number of each type of animal in df.

In [16]:
df.loc[:,['animal']].groupby('animal').size()

animal
cat      4
dog      4
snake    2
dtype: int64

16. Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order (so row i should be first, and row d should be last).

In [17]:
df.loc[:, ['animal', 'age', 'visits']].sort_values(["age", "visits"], ascending = [False, True])

  animal  age  visits
i    dog  7.0       2
e    dog  5.0       2
g  snake  4.5       1
j    dog  3.0       1
b    cat  3.0       3
a    cat  2.5       1
f    cat  1.5       3
c  snake  0.5       2
h    cat  NaN       1
d    dog  NaN       3

17. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [18]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
df['priority']

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

18. In the 'animal' column, change the 'snake' entries to 'python'.

In [19]:
df.loc[df['animal'] == 'snake', 'animal'] = 'python'            # replace 'snake' to 'python'
df.loc[:, 'animal']                                             # display 'animal' col.

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

19. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).